*:focus {
  outline: none;
}

* {
  transition: 0.3s;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Space Grotesk", sans-serif;
}

body {
  width: 100vw;
  min-width: 324px;
  height: 100vh;
  font-style: normal;
  font-weight: 500;
  background: white;
}
@media (min-width: 1024px) {
  body {
    min-height: 577px;
  }
}

main {
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  main {
    display: flex;
  }
}

.btn {
  height: 53px;
  cursor: pointer;
  border: none;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 8px;
}
.btn-primary {
  color: white;
  background: hsl(278, 68%, 11%);
}
.btn-secondary {
  color: hsl(278, 68%, 11%);
  border: 2px solid hsl(278, 68%, 11%);
  background: #e9e9ed;
}
.btn-secondary:hover {
  background: #c8c8c9;
}

.card-preview-block {
  width: 100%;
  height: 34.09%;
  min-height: 240px;
  max-height: 240px;
  padding: 0.01px;
  position: relative;
  background: url("../imgs/bg-main-mobile.png") center/cover no-repeat;
}
.card-preview-block.in-preview {
  background: transparent;
}
@media (min-width: 1024px) {
  .card-preview-block {
    width: 350px;
    height: 100%;
    max-height: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../imgs/bg-main-desktop.png") center/cover no-repeat;
  }
}
@media (min-width: 1280px) {
  .card-preview-block {
    width: 33.54%;
  }
}
@media (min-width: 1440px) {
  .card-preview-block {
    max-width: 670px;
  }
}

.card-preview {
  width: 91.46%;
  max-width: 381px;
  height: -moz-max-content;
  height: max-content;
  margin: 32px auto 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.card-preview .card {
  min-width: 285px;
  max-width: 285px;
  min-height: 156.208px;
  position: absolute;
  aspect-ratio: 1/0.548098434;
  border-radius: 10px;
  overflow: hidden;
}
.card-preview .card > div:not(.card-preview .card_bg_el) {
  position: relative;
  z-index: 1;
}
.card-preview .card_bg_el {
  width: 347.5px;
  height: 366.311px;
  position: absolute;
  left: 11.9298%;
  top: -86px;
  z-index: 0;
}
@media (min-width: 1440px) {
  .card-preview .card_bg_el {
    top: -86px;
    left: 23%;
  }
}
.card-preview .card_bg_el div {
  width: 94.777px;
  height: 262.627px;
  transform: rotate(45deg);
  flex-shrink: 0;
  position: absolute;
  border-radius: 100%;
  opacity: 0.8474048376;
  filter: blur(40px);
}
@media (min-width: 1440px) {
  .card-preview .card_bg_el div {
    width: 131px;
    height: 363px;
    filter: blur(30px);
  }
}
.card-preview .card_bg_el div:first-child {
  background: #D53AFF;
  left: 101px;
  top: 0px;
}
@media (min-width: 1440px) {
  .card-preview .card_bg_el div:first-child {
    left: 90px;
  }
}
.card-preview .card_bg_el div:nth-child(2) {
  background: #FF834A;
  left: 173px;
}
.card-preview .card_bg_el div:nth-child(3) {
  background: #47A2FF;
  top: 110px;
  left: 78.97px;
}
.card-preview .card_logo {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 15.91px;
  position: relative;
  z-index: 1;
}
.card-preview .card_logo div:nth-child(1) {
  width: 30.19px;
  height: 30px;
  background: white;
  border-radius: 100%;
}
.card-preview .card_logo div:nth-child(2) {
  width: 13.58px;
  height: 13.5px;
  border: 1px solid var(--white, #FFF);
  border-radius: 100%;
}
.card-preview .card_info {
  position: absolute !important;
  top: 15px;
  right: 15px;
  opacity: 0;
  font-size: 12PX;
}
.card-preview .card_info.in-preview {
  opacity: 1;
}
.card-preview .card_number {
  margin: 37px 0px 17px 0px;
  color: white !important;
  text-decoration: none !important;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: 2.2px;
}
.card-preview .card_name_and_exp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.5625rem;
  line-height: normal;
  letter-spacing: 1.286px;
  text-transform: uppercase;
}
.card-preview .card_bar {
  width: 100%;
  height: 34.604px;
  background: #2F2F2F;
  margin: 15px 0px;
}
.card-preview .card_cvc {
  font-weight: 500;
  line-height: normal;
  font-size: 0.5625rem;
  letter-spacing: 0.0804rem;
  text-align: right;
  height: 29.739px;
  width: 85.82%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 11px;
  background: #adb5Be;
  border-radius: 4px;
  color: white;
}
.card-preview .card_text_illstn {
  display: block;
  width: 41.61%;
  margin: 20px auto 0px auto;
}
@keyframes levitate {
  33% {
    transform: translateY(-5px);
  }
  66% {
    transform: translateY(5px);
  }
  99% {
    transform: translateY(0);
  }
}
.card-preview_inner {
  width: 100%;
  height: 100%;
}
.card-preview__inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.card-preview___inner {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.1s;
  transform-style: preserve-3d;
}
.card-preview__front {
  left: 0;
  top: 94px;
  z-index: 1;
  padding: 17.6px 20.89px 20.6px 19px;
  background: linear-gradient(to bottom, #6348FE, #610595);
  color: white;
  filter: drop-shadow(0px 39px 60px rgba(0, 0, 0, 0.14));
}
.card-preview__back {
  right: 0;
  background: linear-gradient(169deg, #FFF 0%, #D2D3D9 100%);
}
.card-preview .return-btn {
  display: none;
}
.card-preview.in-preview {
  width: 100vw !important;
  height: 100vh !important;
  max-width: unset;
  align-items: center;
  flex-direction: column;
  position: fixed;
  padding: 0.01px;
  left: 0;
  margin: 0;
  gap: 15px;
}
@media (min-width: 1024px) {
  .card-preview.in-preview {
    gap: 33px;
  }
}
@media (min-width: 1280px) {
  .card-preview.in-preview {
    gap: 38px;
  }
}
@media (min-width: 1440px) {
  .card-preview.in-preview {
    gap: 15px;
  }
}
.card-preview.in-preview .card-preview_inner {
  max-width: 285px;
  max-height: 245px;
  max-height: 156.208px;
  aspect-ratio: 1/0.548098434;
  height: auto;
}
@media (min-width: 1024px) {
  .card-preview.in-preview .card-preview_inner {
    max-width: 320px;
  }
}
@media (min-width: 1280px) {
  .card-preview.in-preview .card-preview_inner {
    max-width: 381px;
    max-height: unset;
  }
}
@media (min-width: 1440px) {
  .card-preview.in-preview .card-preview_inner {
    min-width: 447px;
  }
}
.card-preview.in-preview .card-preview___inner {
  justify-content: center;
  width: 100%;
}
.card-preview.in-preview .card-preview__front {
  top: 0;
  z-index: 0; /* Safari */
  backface-visibility: hidden;
  position: absolute;
  filter: none;
}
.card-preview.in-preview .card-preview__back {
  position: absolute;
  top: 0;
  left: 0; /* Safari */
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.card-preview.in-preview .card-preview__back.in-preview {
  transform: rotateY(180deg);
}
.card-preview.in-preview .return-btn {
  display: block;
  max-width: 285px;
  margin: 0 auto;
  position: absolute;
  bottom: 50px;
}
@media (min-width: 1024px) {
  .card-preview {
    width: -moz-max-content;
    width: max-content;
    margin: 0px auto 0 15.38vw;
  }
  .card-preview .card {
    position: relative;
    min-width: 320px;
  }
  .card-preview .card_number {
    margin: 60px 0px 17px 0px;
  }
  .card-preview___inner {
    display: flex;
    flex-direction: column;
    gap: 37px;
  }
  .card-preview__front {
    top: 0px;
  }
  .card-preview__back {
    left: 64px;
  }
}
@media (min-width: 1280px) {
  .card-preview .card {
    width: 31.04vw;
    max-width: 447px;
  }
  .card-preview .card_logo div:nth-child(1) {
    width: 46.96px;
    height: 47px;
  }
  .card-preview .card_logo div:nth-child(2) {
    width: 21.13px;
    height: 21.15px;
  }
  .card-preview .card_number {
    letter-spacing: 3.424px;
    font-size: 25px;
    margin: 64px 0px 20.5px 0px;
  }
  .card-preview .card_name_and_exp {
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
  }
  .card-preview .card_bar {
    height: 22.04%;
    margin: 23px 0px;
  }
  .card-preview .card_cvc {
    height: 38px;
    width: 80.76%;
    position: relative;
    left: 4px;
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
  }
  .card-preview .card_text_illstn {
    width: 41.61%;
    margin: 33px auto 0px auto;
  }
  .card-preview__front {
    padding: 20.6px 27.89px 27.6px 27px;
  }
  .card-preview__back {
    left: 88px;
  }
}
@media (min-width: 1440px) {
  .card-preview {
    margin: 0px auto 0 16.38vw;
  }
  .card-preview .card {
    min-width: 447px;
  }
  .card-preview .card_number {
    font-size: 28px;
    margin: 64.5px 0px 25.5px 0px;
  }
  .card-preview__front {
    padding: 28px 31.86px 26.5px 31px;
    margin-left: -4px;
    margin-top: 1px;
  }
}

.card-details-block {
  padding: 91px 0px 60px 0px;
}
.card-details-block.in-preview {
  position: relative;
  z-index: -2;
  opacity: 0;
}
@media (min-width: 1024px) {
  .card-details-block {
    width: calc(100% - 350px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  .card-details-block {
    width: 66.46%;
  }
}

.card-form {
  width: 91.46%;
  margin: 0 auto;
  max-width: 381px;
}
.card-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-form form fieldset {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 0;
  border: none;
}
.card-form form fieldset.card-exp-cvc {
  flex-direction: row;
}
.card-form form fieldset.card-exp-cvc > div {
  display: none;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.card-form form fieldset .card-exp {
  display: flex;
  gap: 10px;
}
.card-form form label {
  font-size: 0.75rem;
  display: block;
  font-weight: 700;
  letter-spacing: 2px;
  color: hsl(278, 68%, 11%);
  text-transform: uppercase;
}
.card-form form .input-container {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  padding: 1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.card-form form input {
  padding: 0px 16px;
  font-size: 1.125rem;
  font-weight: 500;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: none;
  background: white;
  color: hsl(278, 68%, 11%);
  position: relative;
  z-index: 1;
}
.card-form form input.btn {
  height: 53px;
  cursor: pointer;
  border: none;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 8px;
}
.card-form form input.btn-primary {
  color: white;
  background: hsl(278, 68%, 11%);
}
.card-form form input.btn-secondary {
  color: hsl(278, 68%, 11%);
  border: 2px solid hsl(278, 68%, 11%);
  background: #e9e9ed;
}
.card-form form input.btn-secondary:hover {
  background: #c8c8c9;
}
.card-form form input::-moz-placeholder {
  color: #C8C2CB;
}
.card-form form input::placeholder {
  color: #C8C2CB;
}
.card-form form input ~ div.input-state-indicator {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #DFDEE0;
  border-radius: 8px;
}
.card-form form input:not(.card-form form input[type=submit]):focus {
  color: hsl(278, 68%, 11%);
}
.card-form form input:not(.card-form form input[type=submit]):focus ~ div.input-state-indicator {
  background: linear-gradient(to bottom, #6348FE, #610595);
}
.card-form form input.invalid ~ div.input-state-indicator {
  background: hsl(0, 100%, 66%);
}
.card-form form input::-webkit-outer-spin-button, .card-form form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card-form form input[type=number] {
  -moz-appearance: textfield;
}
.card-form form input[type=submit] {
  margin-top: 8px;
}
.card-form form .error-mssg {
  font-family: Space Grotesk;
  font-size: 0.75rem;
  color: hsl(0, 100%, 66%);
  display: none;
}
.card-form form .error-mssg.shown {
  display: block;
}
@media (min-width: 1024px) {
  .card-form {
    width: 43.81%;
  }
}
@media (min-width: 1280px) {
  .card-form {
    margin-top: -4.65vh;
  }
  .card-form form {
    gap: 26px;
  }
  .card-form form fieldset {
    gap: 7px;
  }
  .card-form form fieldset.card-exp-cvc {
    gap: 20px;
  }
  .card-form form fieldset.card-exp-cvc > div:nth-child(1) {
    width: 46%;
  }
  .card-form form fieldset .card-exp {
    gap: 7px;
  }
  .card-form form input[type=submit] {
    margin-top: 14px;
  }
}
@media (min-width: 1440px) {
  .card-form {
    margin: -3.15vh auto 0 24.355vw;
  }
}

.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}
.confirmation svg {
  margin-bottom: 35px;
}
.confirmation h2 {
  margin-bottom: 16px;
  color: hsl(278, 68%, 11%);
}
.confirmation p {
  margin-bottom: 48px;
  color: #8F8694;
}
.confirmation div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hidden {
  display: none !important;
}