@import './mini/reset';
@import './mini/colors';
@import './mini/fonts';
@import './mini/mixins';
@import './mini/screens';

* {
   font-family: 'Space Grotesk', sans-serif;
}

body {
   width: 100vw;
   min-width: 324px;
   height: 100vh;
   font-style: normal;
   font-weight: 500;
   background: white;
   
   @include laps {
      min-height: 577px;
   }
}

main {
   width: 100%;
   height: 100%;

   &.card-in.preview {

   }

   @include laps {
      display: flex;
   }
}

.btn {
   height: 53px;  
   cursor: pointer;
   border: none;
   width: 100%;
   font-size: 1.125rem; //18px
   font-weight: 500;
   border-radius: 8px;

   &-primary { 
      color: white; 
      background: $deepViolet;
   }

   &-secondary {
      color: $deepViolet;
      border: 2px solid $deepViolet;
      background: #e9e9ed;

      &:hover {
         background: #c8c8c9;
      }
   }
}

input.btn {
  
}


.card-preview-block {
   width: 100%;
   height: 34.09%;
   min-height: 240px;
   max-height: 240px;
   padding: 0.01px;
   position: relative;
   background: url('../imgs/bg-main-mobile.png') center/cover no-repeat;

   &.in-preview {
      background: transparent;
   }
   
   @include laps {
      width: 350px;
      height: 100%;
      max-height: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url('../imgs/bg-main-desktop.png') center/cover no-repeat;
   }

   @include desktop {
      width: 33.54%;
   }

   @include desktopX {
      max-width: 670px;
   }
}

.card-preview {
   width: 91.46%;
   max-width: 381px;
   height: max-content;
   margin: 32px auto 0;
   position: relative;
   display: flex;
   justify-content: center;
   

   .card {
      min-width: 285px;
      max-width: 285px;
      min-height: 156.208px;
      position: absolute;
      aspect-ratio: 1/0.5480984340044743;
      border-radius: 10px;
      overflow: hidden;

      & > div:not(&_bg_el) {
         position: relative;
         z-index: 1;
      }

      &_bg_el {
         width: 347.5px;
         height: 366.311px;
         position: absolute;
         left: 11.9298%;
         top: -86px;
         z-index: 0;

         @include desktopX {
            top: -86px;
            left: 23%;
         }

         div {
            width: 94.777px;
            height: 262.627px;
            transform: rotate(45deg);
            flex-shrink: 0;
            position: absolute;
            border-radius: 100%;
            opacity: 0.8474048376083374;
            filter: blur(40px);

            @include desktopX {
               width: 131px;
               height: 363px;
               filter: blur(30px);
            }

            &:first-child {
               background: #D53AFF;
               left: 101px;
               top: 0px;

               @include desktopX {
                  left: 90px;
               }
            }

            &:nth-child(2) {
               background: #FF834A;
               left: 173px;
            }

            &:nth-child(3) {
               background: #47A2FF;
               top: 110px;
               left: 78.97px;
            }
         }
      }

      &_logo {
         width: max-content;
         display: flex;
         align-items: center;
         gap: 15.91px;
         position: relative;
         z-index: 1;

         div:nth-child(1) {
            width: 30.19px; height: 30px;
            background: white;
            border-radius: 100%;
         }  

         div:nth-child(2) {
            width: 13.58px; height: 13.5px;
            border: 1px solid var(--white, #FFF);
            border-radius: 100%;
         }
      }

      &_info {
         position: absolute !important;
         top: 15px; right: 15px;
         opacity: 0;
         font-size: 12PX;

         &.in-preview {
            opacity: 1;
         }
      }

      &_number {
         margin: 37px 0px 17px 0px;
         color: white !important;
         text-decoration: none !important;
         font-size: 1.125rem; //18px      
         line-height: normal;
         letter-spacing: 2.2px;
      }
      
      &_name_and_exp {
         display: flex;
         align-items: center;
         justify-content: space-between;
         font-size: 0.5625rem; //9px
         line-height: normal;
         letter-spacing: 1.286px;
         text-transform: uppercase;
      }

      &_bar {
         width: 100%;
         height: 34.604px;
         background: #2F2F2F;
         margin: 15px 0px;
      }

      &_cvc {
         font-weight: 500;
         line-height: normal;
         font-size: 0.5625rem; //9px
         letter-spacing: 0.0804rem; //1.286px
         text-align: right;
         height: 29.739px;
         width: 85.82%;
         margin: 0 auto;
         display: flex;
         align-items: center;
         justify-content: flex-end;
         padding: 0px 11px;
         background: #adb5Be;
         border-radius: 4px;
         color: white;
      }

      &_text_illstn {
         display: block;
         width: 41.61%;
         margin: 20px auto 0px auto;
      }

      @keyframes levitate {
         33% {
            transform: translateY(-5px);
         }
         66% {
            transform: translateY(5px);
         }

         99% {
            transform: translateY(0);
         }
      }
   }

   &_inner {
      width: 100%;
      height: 100%;
   }

   &__inner {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
   }

   &___inner {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.1s;
      transform-style: preserve-3d;
      

   }

   &__front {
      left: 0;
      top: 94px;
      z-index: 1;
      padding: 17.6px 20.89px 20.6px 19px;
      background: linear-gradient(to bottom, #6348FE, #610595);
      color: white;
      filter: drop-shadow(0px 39px 60px rgba(0, 0, 0, 0.14));

   }

   &__back {
      right: 0;
      background: linear-gradient(169deg, #FFF 0%, #D2D3D9 100%);
   }

   .return-btn {
      display: none;
   }
   

   &.in-preview {
      width: 100vw !important;
      height: 100vh !important;
      max-width: unset;
      align-items: center;
      flex-direction: column;
      position: fixed; padding: 0.01px;
      left: 0;
      margin: 0;
      gap: 15px;

      @include laps {
         gap: 33px;
      }

      @include desktop {
         gap: 38px;
      }

      @include desktopX {
         gap: 15px;
      }


      .card-preview {

         &_inner {
            max-width: 285px;
            max-height: 245px;
            max-height: 156.208px;
            aspect-ratio: 1/0.5480984340044743;
            height: auto;

            @include laps {
               max-width: 320px;
            }

            @include desktop {
               max-width: 381px;
               max-height: unset;
            }

            @include desktopX {
               min-width: 447px;
            }
         }


         &___inner {
            justify-content: center;
            width: 100%;
            

            
         }

         &__front {
            top: 0;
            z-index: 0;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            position: absolute;
            filter: none;
         }

         &__back {
            position: absolute;
            top: 0;
            left: 0;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            transform: rotateY(180deg);
           
            
            &.in-preview {
               transform: rotateY(180deg);
            }
         }

      }
  
      .return-btn {
         display: block;
         max-width: 285px;
         margin: 0 auto;
         position: absolute;
         bottom: 50px;
      }
   }

   @include laps {
      width: max-content;
      margin: 0px auto 0 15.38vw;

      .card {
         position: relative;
         min-width: 320px;

         &_number {
            margin: 60px 0px 17px 0px;
         }
      }

      &___inner {
         display: flex;
         flex-direction: column;
         gap: 37px;
      }
      
      &__front {
         top: 0px;
      }

      &__back {
         left: 64px  ;
        
      }
   }

   @include desktop {
      .card {
         width: 31.04vw;
         max-width: 447px;

         &_logo {
            div:nth-child(1) {
               width: 46.96px; height: 47px;
            }  
   
            div:nth-child(2) {
               width: 21.13px; height: 21.15px;
            }
         }

         &_number {
            letter-spacing: 3.424px; //3.422px
            font-size: 25px;
            margin: 64px 0px 20.5px 0px;
         }

         &_name_and_exp {
            font-size: 0.875rem; //14px
            letter-spacing: 0.125rem; //2px
         }

         &_bar {
            height: 22.04%;
            margin: 23px 0px;
         }
   
         &_cvc {
            height: 38px;
            width: 80.76%;
            position: relative;
            left: 4px;
            font-size: 0.875rem; //14px
            letter-spacing: 0.125rem; //2px
         }
   
         &_text_illstn {
            width: 41.61%;
            margin: 33px auto 0px auto;
         }
      }

      &__front {
         padding: 20.6px 27.89px 27.6px 27px;
      }

      &__back {
         left: 88px;
      }
   }

   @include desktopX {
      margin: 0px auto 0 16.38vw;

      .card {
         min-width: 447px;

         &_number {
            font-size: 28px;
            margin: 64.5px 0px 25.5px 0px;
         }
      }

      &__front {
         padding: 28px 31.86px 26.5px 31px;
         margin-left: -4px;
         margin-top: 1px;
      }
   }
}


.card-details-block {
   padding: 91px 0px 60px 0px;

   &.in-preview {
      position: relative;
      z-index: -2;
      opacity: 0;
   }
   
   @include laps {
      width: calc(100% - 350px);
    //   width: 71.46%;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   @include desktop {
      width: 66.46%;
   }
}

.card-form {
   width: 91.46%;
   margin: 0 auto ;
   max-width: 381px;

   form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      fieldset {
         display: flex;
         flex-direction: column;
         gap: 9px;
         padding: 0;
         border: none;

         &.card-exp-cvc {
            flex-direction: row;

            & > div {
               display: none;
               width: 50%;
               display: flex;
               flex-direction: column;
               gap: 9px;
            }
         }

         .card-exp {
            display: flex;
            gap: 10px;
         }
      }

      label {
         font-size: 0.75rem; //12px 
         display: block;
         font-weight: 700;
         letter-spacing: 2px;
         color: $deepViolet;
         text-transform: uppercase;
      }

      .input-container {
         width: 100%;
         height: 45px;
         border-radius: 8px;
         padding: 1px;
         position: relative;
         display: flex;
         align-items: center;
         justify-content: center;
         overflow: hidden;
      }
     
      input {
         padding: 0px 16px;
         font-size: 1.125rem; //18px
         font-weight: 500;
         display: block;
         width: 100%;
         height: 100%;
         border-radius: 7px;
         border: none;
         background: white;
         color: $deepViolet;
         position: relative;
         z-index: 1;

         &.btn {
            height: 53px;  
            cursor: pointer;
            border: none;
            width: 100%;
            font-size: 1.125rem; //18px
            font-weight: 500;
            border-radius: 8px;
         
            &-primary { 
               color: white; 
               background: $deepViolet;
            }
         
            &-secondary {
               color: $deepViolet;
               border: 2px solid $deepViolet;
               background: #e9e9ed;
         
               &:hover {
                  background: #c8c8c9;
               }
            }
         }

         &::placeholder {
            color: #C8C2CB;
         }

         & ~ div.input-state-indicator {
            height: 100%; width: 100%;
            position: absolute;
            background: #DFDEE0;
            border-radius: 8px;
         }

         &:not(&[type=submit]):focus {
            color: $deepViolet;

            & ~ div.input-state-indicator {
               background: linear-gradient(to bottom, #6348FE, #610595);
            }
         }

         &.invalid {
            & ~ div.input-state-indicator {
               background: $red;
            }
         }

         &::-webkit-outer-spin-button,
         &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
         }

         &[type=number] {
            -moz-appearance: textfield;
         }

         &[type=submit] {
            margin-top: 8px;
         }
      }

      .error-mssg {
         font-family: Space Grotesk;
         font-size: 0.75rem; //12px
         color: $red;
         display: none;

         &.shown {
            display: block;
         }
      }
   }

   @include laps {
      width: 43.81%;
   }

   @include desktop {
      margin-top: -4.65vh;

      form {
         gap: 26px;

         fieldset {
            gap: 7px;

            &.card-exp-cvc {
               gap: 20px;

               & > div:nth-child(1) {
                  width: 46%;
               }
            }

            .card-exp {
               gap: 7px;
            }
         }

         input {
            &[type=submit] {
               margin-top: 14px  ;
            }
         }
      }
   }

   @include desktopX {
      margin: -3.15vh auto 0 24.355vw;
   }
}

.confirmation {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: stretch;

   svg {
      margin-bottom: 35px;
   }

   h2 {
      margin-bottom: 16px;
      color: $deepViolet;
   }
   
   p {
      margin-bottom: 48px;
      color: #8F8694;
   }

   div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
   
}

.hidden {
   display: none !important;
}
