$white: hsl(0, 0%, 100%);
$lightGrayishViolet: #dedddf;
$darkGrayishViolet: #8e8593;
$deepViolet: hsl(278, 68%, 11%);
$inputGradient: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
$red: hsl(0, 100%, 66%)

